<!DOCTYPE html>
<html>
    <%- include(`../partials/head`) %>
    <body>
        <header>
            <%- include(`../partials/jumbotron`) %>
            <%- include(`../partials/navigation`) %>
        </header>
        <%- include(`../pages/${template}`) %>
        <%- include(`../partials/scripts`) %>
    </body>
</html>